{{define "span"}}{"start_line":{{.StartLine}},"end_line":{{.EndLine}},"start_column":{{.StartColumn}},"end_column":{{.EndColumn}}}{{end}}{{range .}}{"rule_id":{{printf "%q" .RuleID}},"file":{{printf "%q" .File}},"location":{{template "span" .}},"secret_digest":{{printf "%q" (sha256sum .Secret)}},"component_sets":[{{range $i, $set := .ComponentSets}}{{if $i}},{{end}}[{{$comma := false}}{{range $set.Components}}{{if not .Optional}}{{if $comma}},{{end}}{"rule_id":{{printf "%q" .RuleID}},"location":{{template "span" .}},"secret_digest":{{printf "%q" (sha256sum .Secret)}}}{{$comma = true}}{{end}}{{end}}]{{end}}]}
{{end}}
